In [2]:
import numpy as np
import pandas as pd

In [172]:
df_1=pd.read_csv('Keyword_spam_question.csv')
df_2=pd.read_csv('Extra Material 2 - keyword list_with substring.csv')
df_3=pd.read_csv('Extra Material 3 - mismatch list.csv')

In [23]:
df_1.head()

   index                                               name
0      0        IZRA Cotton Milky Gray Blouse + Skirt Putih
1      1        (Coral Red) IZRA BOUTIQUE Baju Kurung Moden
2      2              (Red) IZRA BOUTIQUE Baju Kurung Moden
3      3  (Peach) IZRA BOUTIQUE Baju Kurung Moden With P...
4      4            (Black) IZRA BOUTIQUE Baju Kurung Moden

In [210]:
df_2.head()

   Group                      Keywords
0  0      coat, jacket
1  1      blazer
2  2      hoodies, sweater, sweatshirt
3  3      vest
4  4      cardigan

In [186]:
pd.set_option('display.max_colwidth',-1)
df_1['groups_found']=1
df_1['ActualKeyWord']=''

In [217]:
for index, row in df_1.head(1).iterrows():
    lst=list(row['name'].split(' '))
    for i in range(len(lst)):
        print(lst[i])
        key=lst[i]
        df_2[df_2['Keywords'].apply(lambda x:)

IZRA
Cotton
Milky
Gray
Blouse
+
Skirt
Putih

In [223]:
# vowels list
vowels = ['a', 'e 5', 'i', 'o', 'i', 'u']

# element 'e' is searched
index = vowels.index('e')
print(index)

1

In [196]:
lstValidSerach=list(['Senthil','Rajan','bagavathy'])
if('Senthil' not in lstValidSerach):
        print('True')

In [190]:
#dfResult['name'].iloc[15152]
#print(df_1['name'].iloc[15152])

Empty DataFrame
Columns: [index, name, groups_found, ActualKeyWord]
Index: []

In [128]:
print(df_1[df_1['name'].str.contains('coat')].shape)
print(df_1[df_1['name'].str.contains('jacket')].shape)
#dfResult['name'].apply(lambda x:x.split(','))

(9133, 4)
(5925, 4)

In [140]:
dfResult[(dfResult['name'].str.contains('coat')) & (~dfResult['name'].str.contains('coat'))]

Empty DataFrame
Columns: [index, name, IsValid, groups_found]
Index: []

In [109]:
lstw_1=list(['Dog Summer Vest Waistcoat Cotton Clothes Vest Shirt Coat','Jacket'])
lstw_2=list(['Dog Summer Vest Waistcoat Cotton Clothes Vest Shirt Coat','Milk'])

In [111]:
lstw_1

In [112]:
lstk.intersection(lstw_1)

AttributeError: 'list' object has no attribute 'intersection'

In [123]:
dfResult['name'].tail().apply(lambda x: x)

799362    [chic harbor jacket bow girl white shirt loose chic]
799405    [shawl summer 2019 blouse outside cardigan small jacket female short]
799793    [spot sleeveless summer vest denim jacket]
799868    [girls set two-piece suit solid sleeveless vest jacket sunscreen coat]
799882    [children's life jacket buoyancy vest split baby swimming vest]
Name: name, dtype: object