In [4]:
import numpy as np
import pandas as pd

In [8]:
dfOrders=pd.read_csv('orders.csv')
dfDevices=pd.read_csv('devices.csv')
dfBanks=pd.read_csv('bank_accounts.csv')
dfCC=pd.read_csv('credit_cards.csv')

C:\Users\65965\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
dfOrders.head()

      orderid  buyer_userid  seller_userid
0  1953278092      47388162       20822974
1  1953295120      26855196       16416890
2  1953306402     121296714       28477978
3  1953314712     131221930       72837912
4  1953381964     183398314       28423332

In [10]:
dfDevices.head()

      userid                                        device
0   10499978  0Zu/mWZ4cFsvobYglgZEc5VSxwwajRwrm74pBuwnrTu=
1   54526742  zBMRKyz98iy5Z7sh+JIOdF612J1CB8ggvFBI6MP361q=
2   33152428  KXC0oY3MMrTG+bnlFFvBPXZC5PW8iw6kgWztENWdIJg=
3   55020986  anRXS7+zVgCGKz5C9X3dzewIhSdojGEi5TO07pb2y+K=
4  100471502  hbIARr+USwvjjzc8QUVtD5a/apR1DJX6P3fYvgDL4gW=

In [17]:
dfDevices[dfDevices['userid']==47388162].head()

          userid                                        device
5261    47388162  N6EVAPjl6WH2r1LOkkuwR0zKxT3fU8tubs3qvysuKTy=
72418   47388162  NUDUHm6TKnxRN2Q+D7Wr2AAR5IyNabr1t3tobdD8uyq=
98288   47388162  HJ5XUYvJpjF6xE1QlTAy0RQgXY1GZDskcoLSliOMNag=
180180  47388162  5YKQkZDv4zi4RICd0AIVAS3Iv+awDbNxl49p51QF7fA=
241375  47388162  HQgnByUSw54FHZwYDGgwCheMM72dnyBqqF7lDih1iMW=

In [83]:
def FindDirectLink(buyerid,sellerid):
    buyerDeviceId=list(dfDevices[dfDevices['userid']==buyerid]['device'].head(1))[0]
    sellerDeviceId=list(dfDevices[dfDevices['userid']==sellerid]['device'].head(1))[0]
    print(sellerDeviceId)
    #if(buyerDeviceId==sellerDeviceId):
        #return 1

In [82]:
list(dfDevices[dfDevices['userid']==47388162]['device'].head(1))[0]

'N6EVAPjl6WH2r1LOkkuwR0zKxT3fU8tubs3qvysuKTy='

In [84]:
dfOrders_copy.head().apply(lambda x: FindDirectLink(x['buyer_userid'],x['seller_userid']),axis=1)

VYTZXmDy0XH4A0PmT+LOTbHqDBZHIcAh2wqvim+EJ7c=
BajlDsaEWUfKvgMloLeTCDVsdd7etgwHxcyh7XFpDT4=
7AfVZg0S327Vw+NW9sxpBPftrErmiNUKbLKvMbqN9jc=
bX/oi4reAfVi04SVO+M7w5k7h9p+5X/GxsgZK1I8p2q=
h61MYG4Lz/IvRjndzdBl85eCEdx/bTY9sZIztV09cAS=

0    None
1    None
2    None
3    None
4    None
dtype: object

In [20]:
result = pd.merge(dfOrders,
                 dfDevices,
                 left_on='buyer_userid',right_on='userid')
result.head()

,orderid,buyer_userid,seller_userid,userid,device
0,1953278092,47388162,20822974,47388162,N6EVAPjl6WH2r1LOkkuwR0zKxT3fU8tubs3qvysuKTy=
1,1953278092,47388162,20822974,47388162,NUDUHm6TKnxRN2Q+D7Wr2AAR5IyNabr1t3tobdD8uyq=
2,1953278092,47388162,20822974,47388162,HJ5XUYvJpjF6xE1QlTAy0RQgXY1GZDskcoLSliOMNag=
3,1953278092,47388162,20822974,47388162,5YKQkZDv4zi4RICd0AIVAS3Iv+awDbNxl49p51QF7fA=
4,1953278092,47388162,20822974,47388162,HQgnByUSw54FHZwYDGgwCheMM72dnyBqqF7lDih1iMW=

In [22]:
result.shape

(1708281, 5)